<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>IDBLOCK_이용약관</title>
    <meta name='author' content='BUTTERSOFT_ERIC' />
    <style type='text/css'>
      * { margin: 0; padding: 0; text-indent: 0; } h1 { color: black;
      font-family: 'Century Gothic', sans-serif; font-style: normal;
      font-weight: bold; text-decoration: none; font-size: 15pt; } h2 { color:
      black; font-family: 'Century Gothic', sans-serif; font-style: normal;
      font-weight: bold; text-decoration: none; font-size: 12pt; } p { color:
      black; font-family: 'Palatino Linotype', serif; font-style: normal;
      font-weight: normal; text-decoration: none; font-size: 10pt; margin: 0pt;
      } h3 { color: black; font-family: 'Century Gothic', sans-serif;
      font-style: normal; font-weight: bold; text-decoration: none; font-size:
      10pt; } li { display: block; } #l1 { padding-left: 0pt; counter-reset: c1
      1; } #l1 > li > *:first-child:before { counter-increment: c1; content:
      counter(c1, decimal) '. '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l1 > li:first-child > *:first-child:before {
      counter-increment: c1 0; } li { display: block; } #l2 { padding-left: 0pt;
      counter-reset: d1 1; } #l2 > li > *:first-child:before {
      counter-increment: d1; content: counter(d1, decimal) '. '; color: black;
      font-family: 'Palatino Linotype', serif; font-style: normal; font-weight:
      normal; text-decoration: none; font-size: 10pt; } #l2 > li:first-child >
      *:first-child:before { counter-increment: d1 0; } li { display: block; }
      #l3 { padding-left: 0pt; counter-reset: e1 1; } #l3 > li >
      *:first-child:before { counter-increment: e1; content: counter(e1,
      decimal) '. '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l3 > li:first-child > *:first-child:before { counter-increment:
      e1 0; } #l4 { padding-left: 0pt; counter-reset: e2 1; } #l4 > li >
      *:first-child:before { counter-increment: e2; content: counter(e2,
      decimal) ') '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l4 > li:first-child > *:first-child:before { counter-increment:
      e2 0; } li { display: block; } #l5 { padding-left: 0pt; counter-reset: f1
      1; } #l5 > li > *:first-child:before { counter-increment: f1; content:
      counter(f1, decimal) '. '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l5 > li:first-child > *:first-child:before {
      counter-increment: f1 0; } li { display: block; } #l6 { padding-left: 0pt;
      counter-reset: g1 1; } #l6 > li > *:first-child:before {
      counter-increment: g1; content: counter(g1, decimal) '. '; color: black;
      font-family: 'Palatino Linotype', serif; font-style: normal; font-weight:
      normal; text-decoration: none; font-size: 10pt; } #l6 > li:first-child >
      *:first-child:before { counter-increment: g1 0; } li { display: block; }
      #l7 { padding-left: 0pt; counter-reset: h1 1; } #l7 > li >
      *:first-child:before { counter-increment: h1; content: counter(h1,
      decimal) '. '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l7 > li:first-child > *:first-child:before { counter-increment:
      h1 0; } #l8 { padding-left: 0pt; counter-reset: h2 1; } #l8 > li >
      *:first-child:before { counter-increment: h2; content: counter(h2,
      decimal) ') '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l8 > li:first-child > *:first-child:before { counter-increment:
      h2 0; } li { display: block; } #l9 { padding-left: 0pt; counter-reset: i1
      1; } #l9 > li > *:first-child:before { counter-increment: i1; content:
      counter(i1, decimal) '. '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l9 > li:first-child > *:first-child:before {
      counter-increment: i1 0; } #l10 { padding-left: 0pt; counter-reset: i2 1;
      } #l10 > li > *:first-child:before { counter-increment: i2; content:
      counter(i2, decimal) ') '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l10 > li:first-child > *:first-child:before {
      counter-increment: i2 0; } li { display: block; } #l11 { padding-left:
      0pt; counter-reset: j1 1; } #l11 > li > *:first-child:before {
      counter-increment: j1; content: counter(j1, decimal) '. '; color: black;
      font-family: 'Palatino Linotype', serif; font-style: normal; font-weight:
      normal; text-decoration: none; font-size: 10pt; } #l11 > li:first-child >
      *:first-child:before { counter-increment: j1 0; } li { display: block; }
      #l12 { padding-left: 0pt; counter-reset: k1 1; } #l12 > li >
      *:first-child:before { counter-increment: k1; content: counter(k1,
      decimal) '. '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l12 > li:first-child > *:first-child:before { counter-increment:
      k1 0; } #l13 { padding-left: 0pt; counter-reset: k2 1; } #l13 > li >
      *:first-child:before { counter-increment: k2; content: counter(k2,
      decimal) ') '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l13 > li:first-child > *:first-child:before { counter-increment:
      k2 0; } li { display: block; } #l14 { padding-left: 0pt; counter-reset: l1
      1; } #l14 > li > *:first-child:before { counter-increment: l1; content:
      counter(l1, decimal) '. '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l14 > li:first-child > *:first-child:before {
      counter-increment: l1 0; } li { display: block; } #l15 { padding-left:
      0pt; counter-reset: m1 1; } #l15 > li > *:first-child:before {
      counter-increment: m1; content: counter(m1, decimal) '. '; color: black;
      font-family: 'Palatino Linotype', serif; font-style: normal; font-weight:
      normal; text-decoration: none; font-size: 10pt; } #l15 > li:first-child >
      *:first-child:before { counter-increment: m1 0; } li { display: block; }
      #l16 { padding-left: 0pt; counter-reset: n1 1; } #l16 > li >
      *:first-child:before { counter-increment: n1; content: counter(n1,
      decimal) '. '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l16 > li:first-child > *:first-child:before { counter-increment:
      n1 0; } #l17 { padding-left: 0pt; counter-reset: n2 1; } #l17 > li >
      *:first-child:before { counter-increment: n2; content: counter(n2,
      decimal) ') '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l17 > li:first-child > *:first-child:before { counter-increment:
      n2 0; } li { display: block; } #l18 { padding-left: 0pt; counter-reset: o1
      1; } #l18 > li > *:first-child:before { counter-increment: o1; content:
      counter(o1, decimal) '. '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l18 > li:first-child > *:first-child:before {
      counter-increment: o1 0; } li { display: block; } #l19 { padding-left:
      0pt; counter-reset: p1 1; } #l19 > li > *:first-child:before {
      counter-increment: p1; content: counter(p1, decimal) '. '; color: black;
      font-family: 'Palatino Linotype', serif; font-style: normal; font-weight:
      normal; text-decoration: none; font-size: 10pt; } #l19 > li:first-child >
      *:first-child:before { counter-increment: p1 0; } li { display: block; }
      #l20 { padding-left: 0pt; counter-reset: q1 1; } #l20 > li >
      *:first-child:before { counter-increment: q1; content: counter(q1,
      decimal) '. '; color: black; font-family: 'Palatino Linotype', serif;
      font-style: normal; font-weight: normal; text-decoration: none; font-size:
      10pt; } #l20 > li:first-child > *:first-child:before { counter-increment:
      q1 0; } li { display: block; } #l21 { padding-left: 0pt; counter-reset: r1
      1; } #l21 > li > *:first-child:before { counter-increment: r1; content:
      counter(r1, decimal) '. '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l21 > li:first-child > *:first-child:before {
      counter-increment: r1 0; } #l22 { padding-left: 0pt; counter-reset: r2 1;
      } #l22 > li > *:first-child:before { counter-increment: r2; content:
      counter(r2, decimal) ') '; color: black; font-family: 'Palatino Linotype',
      serif; font-style: normal; font-weight: normal; text-decoration: none;
      font-size: 10pt; } #l22 > li:first-child > *:first-child:before {
      counter-increment: r2 0; } li { display: block; } #l23 { padding-left:
      0pt; counter-reset: s1 1; } #l23 > li > *:first-child:before {
      counter-increment: s1; content: counter(s1, decimal) '. '; color: black;
      font-family: 'Palatino Linotype', serif; font-style: normal; font-weight:
      normal; text-decoration: none; font-size: 10pt; } #l23 > li:first-child >
      *:first-child:before { counter-increment: s1 0; }
    </style>
  </head>
  <body>
    <h1 style='padding-top: 5pt; text-indent: 0pt; text-align: center'>
      IDBLocK Service Terms of Use
    </h1>
    <h2
      style='
        padding-top: 3pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 38pt;
        text-align: left;
      '
    >
      Chapter 1 GeneraL Provisions ArticLe 1 (Purpose)
    </h2>
    <p
      style='
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 13pt;
        text-align: justify;
      '
    >
      The purpose of these terms and conditions is to stipulate the rights,
      obligations, and
    </p>
    <p
      style='
        padding-top: 2pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 119%;
        text-align: justify;
      '
    >
      responsibilities of the users and the company regarding the use of the
      decentralized identity verification service, IDBlocK (hereinafter referred
      to as &quot;Service&quot;), provided by CrossHub Co., Ltd. (hereinafter
      referred to as &quot;Company&quot;), as well as the conditions and
      procedures for using the Service and other necessary matters.
    </p>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 2 (Effect and Modification of Terms)
    </h2>
    <ol id='l1'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          These terms and conditions shall taKe effect when the Company posts
          the content of these terms on the Service screen or publishes it on
          the homepage related to the Service, and when a customer who agrees to
          these terms signs up for the Service and becomes a user of the
          Service. Furthermore, if the Company is able to provide services in a
          foreign country through contracts with foreign rights holders, these
          terms shall also taKe effect for all users wishing to use the Service
          in that country.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company may change these terms as deemed necessary, and when
          changing the terms, the Company shall notify or inform the users at
          least 7 days before the effective date of the change in the manner set
          forth in Article 15. However, if there are important provisions that
          restrict the rights of users or impose obligations on users, the
          Company will notify or inform users at least 30 days prior to the
          change.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          If the Company notifies or informs users that their consent to the
          changes will be assumed unless they express their intention to refuse
          the changes by the effective date, and if the user does not explicitly
          refuse the changes, the user shall be deemed to have consented to the
          changed terms. Users who do not agree to the changed terms may suspend
          the use of the Service and terminate the service agreement.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          These terms shall apply from the date the user agrees to them until
          the user withdraws from the Service. However, certain provisions of
          these terms may remain valid even after the user withdraws from the
          Service.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 3 (Governing Laws Beyond the Terms)
    </h2>
    <ol id='l2'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Matters not specified in these terms shall be governed by the
          Electronic Financial Transactions Act, the Basic Act on
          Telecommunications, the Telecommunications Business Act, the Act on
          Promotion of Information and Communications NetworK Utilization and
          Information Protection, the Act on the Protection and Use of Location
          Information, the Consumer Protection Act in Electronic Commerce, and
          other relevant laws (hereinafter referred to as &quot;Relevant
          Laws&quot;), as well as the detailed usage guidelines set by the
          Company.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p style='padding-left: 19pt; text-indent: -14pt; text-align: justify'>
          The Company may, if necessary, establish specific provisions
          applicable to certain services
        </p>
        <p
          style='
            padding-top: 3pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: left;
          '
        >
          (hereinafter referred to as &quot;Individual Terms&quot;) and notify
          or inform users in the manner set forth in Article 2, Paragraph 2.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company may establish detailed usage guidelines related to the use
          of the Service and notify or inform users in the manner set forth in
          Article 2, Paragraph 2 if necessary.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Changes in the Company&#39;s policies, the enactment or amendment of
          laws, announcements or guidelines by public institutions, and other
          notifications made by the Company through the notice board on the
          homepage related to the Service shall also constitute part of the
          service agreement.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 4 (Definition of Terms)
    </h2>
    <ol id='l3'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 19pt;
            text-indent: -13pt;
            text-align: justify;
          '
        >
          The definitions of terms used in these terms are as follows:
        </p>
        <ol id='l4'>
          <li data-list-text='1)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              &quot;Service&quot; refers to the service that allows users to
              utilize goods or services designated by the Company through the
              installation of a dedicated application (hereinafter referred to
              as &quot;App&quot;) on the user&#39;s smartphone (hereinafter
              referred to as &quot;Device&quot;) and signing up for the Service,
              including the blocKchain-based DID (Decentralized Identity)
              authentication services.
            </p>
          </li>
          <li data-list-text='2)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              &quot;User&quot; refers to a person who registers the information
              requested by the Company after agreeing to the terms of the
              Service in accordance with the procedures set by the Company and
              is approved to use the Service.
            </p>
          </li>
          <li data-list-text='3)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              DID (Decentralized Identity) is a technology that allows users to
              manage their identity information securely and privately. DID is
              generated through a decentralized networK, such as blocKchain,
              rather than a centralized database, allowing users to own and
              control their digital identity. This enables users to log into
              various services or verify their identity conveniently while
              protecting their personal information.
            </p>
          </li>
          <li data-list-text='4)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              &quot;Affiliate&quot; refers to a business entity that enters into
              a separate service agreement with the Company to operate its
              business by utilizing the services provided by the Company.
            </p>
            <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
              <br />
            </p>
          </li>
        </ol>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The definitions of terms used in these terms shall follow the Relevant
          Laws and general practices, except as provided in the preceding
          paragraph.
        </p>
      </li>
    </ol>
    <p style='text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      Chapter 2 Service Agreement
    </h2>
    <p style='padding-top: 5pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 5 (EstabLishment of Service Agreement)
    </h2>
    <ol id='l5'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company considers the user to have agreed to these terms when the
          user installs the Service presented through a mobile device or the
          homepage related to the Service and selects the &quot;Agree&quot;
          button for the terms of use.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The service agreement is established when the Company accepts the
          user&#39;s application for service use, which includes the agreement
          to the terms mentioned in the preceding paragraph.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 6 (AppLication for Service Use)
    </h2>
    <p
      style='
        padding-top: 4pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      '
    >
      An application for service use is the procedure performed by the user to
      utilize the Service,
    </p>
    <p
      style='
        padding-top: 3pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      '
    >
      which is completed by agreeing to the terms presented when the user first
      runs the Service.
    </p>
    <p style='padding-top: 5pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 7 (Acceptance of AppLication for Service Use)
    </h2>
    <ol id='l6'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company will accept the user&#39;s application for service use if
          there is a valid application according to the provisions of Article 6
          of these terms.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          Upon acceptance of the user&#39;s application, the user becomes a user
          of the Service provided by the Company and can utilize the Service.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 8 (Restrictions on Acceptance of AppLications)
    </h2>
    <ol id='l7'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company may refuse to accept applications from users that fall
          under any of the following categories:
        </p>
        <ol id='l8'>
          <li data-list-text='1)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              When the user applies for re-use within 3 months from the date the
              service agreement was terminated by the Company.
            </p>
          </li>
          <li data-list-text='2)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              When the service cannot be provided due to operational or
              technical reasons of the Company.
            </p>
          </li>
          <li data-list-text='3)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              When the application is submitted with omitted or incorrect
              customer registration information.
            </p>
          </li>
          <li data-list-text='4)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              When the user has not completed the consent procedures for
              installation and registration as designated by the Company.
            </p>
          </li>
          <li data-list-text='5)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              When the applicant has a fact of loss of user qualifications.
              However, this does not apply if one year has passed since the loss
              of user qualifications and the user has obtained re-acceptance
              from the Company.
            </p>
          </li>
          <li data-list-text='6)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              When a user who has been subject to measures such as suspension of
              user qualifications by the Company voluntarily terminates the
              service agreement during the suspension period and applies for
              re-use.
            </p>
          </li>
          <li data-list-text='7)'>
            <p
              style='
                padding-left: 34pt;
                text-indent: -13pt;
                line-height: 13pt;
                text-align: justify;
              '
            >
              When the application is made with the intent to disrupt public
              order or morals.
            </p>
          </li>
          <li data-list-text='8)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              When other application requirements set by the Company are not
              met, or when the application is confirmed to be illegal or unjust,
              or if there are circumstances for which the Company cannot accept
              the application due to reasons attributable to the user.
            </p>
          </li>
        </ol>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      Chapter 3 Service Use
    </h2>
    <p style='padding-top: 8pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 9 (Service Provision)
    </h2>
    <ol id='l9'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: left;
          '
        >
          The specific content of the services provided by the Company from the
          time it accepts the user&#39;s application for use is as follows:
        </p>
        <ol id='l10'>
          <li data-list-text='1)'>
            <p style='padding-left: 34pt; text-indent: -13pt; text-align: left'>
              DID authentication service using the App.
            </p>
          </li>
          <li data-list-text='2)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: left;
              '
            >
              Any additional services developed or provided through partnerships
              by the Company.
            </p>
          </li>
          <li data-list-text='3)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: left;
              '
            >
              Any services provided through the homepage and App related to the
              Service that the Company deems to align with the nature of the
              Service and enhance user convenience.
            </p>
          </li>
        </ol>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 10 (Service Hours)
    </h2>
    <ol id='l11'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: left;
          '
        >
          The Company shall commence the service from the time the service
          agreement is established with the user. For certain services, the
          service may begin from a designated date
        </p>
        <p
          style='
            padding-top: 3pt;
            padding-left: 5pt;
            text-indent: 0pt;
            text-align: left;
          '
        >
          in advance.
        </p>
        <p style='padding-top: 5pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The use of the Service is generally available 24 hours a day, 365 days
          a year. However, the service may be temporarily suspended for
          operational or technical reasons, and the Company may also designate
          certain periods for temporary suspension of the service for
          operational purposes. In such cases, the Company will notify users in
          advance or afterward.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company may divide the Service into specific ranges and set
          separate available times for each range, notifying users of such
          information in advance.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 11 (Change and Suspension of Service)
    </h2>
    <ol id='l12'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company may change all or part of the Service for improvement
          purposes. In this case, the Company will notify users in advance of
          the content of the changes and the date of provision through the App,
          push messages, text messages, etc.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company shall be exempt from liability if the user does not
          recognize the notified content. However, if there are special
          circumstances that maKe it difficult to notify in advance, the Company
          may notify users promptly after the service is suspended.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company may suspend, limit, or terminate all or part of the
          Service in the following cases:
        </p>
        <ol id='l13'>
          <li data-list-text='1)'>
            <p
              style='
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: justify;
              '
            >
              When it is unavoidable due to maintenance or construction of
              service facilities.
            </p>
          </li>
          <li data-list-text='2)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: justify;
              '
            >
              When the user obstructs the Company&#39;s business activities.
            </p>
          </li>
          <li data-list-text='3)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              When normal service use is impeded due to power outages, equipment
              malfunctions, or surges in usage.
            </p>
          </li>
          <li data-list-text='4)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              When it cannot maintain all or part of the Service due to the
              termination of contracts with providers of additional services
              offered through partnerships.
            </p>
          </li>
          <li data-list-text='5)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              When the Company decides not to provide all or part of the Service
              due to changes in service policies, worsening profitability, or
              termination of mobile phone services based on its business
              judgment.
            </p>
          </li>
          <li data-list-text='6)'>
            <p
              style='
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: justify;
              '
            >
              In cases of force majeure, such as natural disasters or national
              emergencies.
            </p>
            <p style='padding-top: 4pt; text-indent: 0pt; text-align: left'>
              <br />
            </p>
          </li>
        </ol>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          In the event of suspension, limitation, or termination of the Service
          as per the provisions of Paragraph 3, the Company will provide prior
          notice to users in the manner specified in Paragraph 1. However, if
          the suspension or limitation of service is due to reasons beyond the
          Company’s control (such as usage surges, disK malfunctions, system
          downtime), prior notice may not be possible.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='5.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company shall not be liable for the content of messages or other
          communication data stored or transmitted during the service being
          suspended or limited under Paragraph 2, including cases where the data
          could not be stored or was deleted, or was not transmitted, or for any
          loss of communication data.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='6.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company shall not be liable for any issues arising from changes,
          suspension, limitation, or termination of the Service under Paragraphs
          1 to 3 unless there are other
        </p>
      </li>
    </ol>
    <p
      style='
        padding-top: 3pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      '
    >
      attributable reasons.
    </p>
    <p style='padding-top: 5pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 12 (Provision of Information and Advertising)
    </h2>
    <ol id='l14'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company may post notices related to the operation of the Service
          on the Service screen and the related homepage, or notify users via
          methods such as text messages, emails, or smart push notifications.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company may provide various information and advertisements related
          to the operation of the Service on the Service screen and the related
          homepage, or obtain user consent to provide such information via
          email, mail, or short/long text messages (SMS/MMS).
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The use of advertisements posted on the Service or participation in
          promotional activities by advertisers exposed in the Service is solely
          the responsibility of the user and the advertiser. Therefore, in the
          event of a dispute between the user and the advertiser, the user and
          the advertiser must resolve it directly, and the Company shall bear no
          responsibility in this regard.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      Chapter 4 ObLigations of the Parties
    </h2>
    <p style='padding-top: 8pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 13 (ObLigations of the Company)
    </h2>
    <ol id='l15'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company shall not provide, disclose, transmit, or distribute the
          personal information of users collected in relation to the provision
          of the Service to any third party without the consent of the
          respective user. However, this does not apply when a competent
          authority requests the provision of personal information through
          proper legal procedures in accordance with relevant laws.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company may prepare and use statistical data regarding the
          personal information of all or some users without prior consent for
          the purpose of service improvement and customer satisfaction.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Upon receiving complaints from users regarding the Service, the
          Company must process these complaints promptly. If prompt processing
          is difficult, the Company shall notify the user of the reasons and
          processing schedule through the notices on the homepage related to the
          Service, or via email, text messages (SMS), etc.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          If a user suffers damage due to the Service, the Company shall be
          responsible for such damage if it arises from the Company’s intention
          or negligence, and the scope of such responsibility is limited to
          ordinary damages.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='5.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company shall comply with relevant laws and regulations related to
          the operation and maintenance of the Service.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 14 (ObLigations of the User)
    </h2>
    <ol id='l16'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 19pt;
            text-indent: -13pt;
            text-align: justify;
          '
        >
          Users must not engage in any of the following actions while using the
          Service:
        </p>
        <ol id='l17'>
          <li data-list-text='1)'>
            <p
              style='
                padding-top: 3pt;
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: left;
              '
            >
              Registering false information when applying for or changing the
              Service.
            </p>
          </li>
          <li data-list-text='2)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: left;
              '
            >
              Misappropriating another person&#39;s information.
            </p>
          </li>
          <li data-list-text='3)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: left;
              '
            >
              Sending or posting information other than that specified by the
              Company (such as computer programs).
            </p>
          </li>
          <li data-list-text='4)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: left;
              '
            >
              Infringing on the copyrights or other intellectual property rights
              of the Company or third parties.
            </p>
          </li>
          <li data-list-text='5)'>
            <p
              style='
                padding-left: 34pt;
                text-indent: -13pt;
                line-height: 13pt;
                text-align: left;
              '
            >
              Defaming or harming the reputation or business of the Company or
              third parties.
            </p>
          </li>
          <li data-list-text='6)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: left;
              '
            >
              Using the Service for commercial purposes without the Company’s
              consent.
            </p>
          </li>
          <li data-list-text='7)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: left;
              '
            >
              Reproducing, decompiling, or imitating the Service through
              manipulation or any other modification.
            </p>
          </li>
          <li data-list-text='8)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: left;
              '
            >
              Using the Service in an abnormal manner through automated
              connection programs (macros) to obstruct the Company’s operations
              and service provision.
            </p>
          </li>
          <li data-list-text='9)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: left;
              '
            >
              Engaging in any other activities that violate relevant laws, these
              terms, service usage guidelines, or notices from the Company.
            </p>
            <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
              <br />
            </p>
          </li>
        </ol>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Users must not leaK, expose, or leave their access media (such as
          devices, apps, passwords) to third parties, and must exercise
          sufficient caution to prevent theft, forgery, or alteration of their
          access media.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Users are responsible for managing their access media (such as
          devices, apps, passwords) and must immediately notify the Company of
          any incidents such as damage, loss, theft, or leaKage of these access
          media through the app, homepage, or customer service.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Users may not modify or change the content of the app without the
          Company&#39;s written consent. Additionally, users must not perform
          reverse engineering, decompiling, or disassembling, or any other
          modifications that deviate from the original purpose, or analyze the
          source code. Violations will be considered as infringement of
          intellectual property rights, and users may be held liable under
          relevant laws.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='5.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Users are responsible for the storage and management of the DID
          generated through the services provided by the Company and all issued
          certificates. Since passwords, secret phrases, and private Keys are
          managed solely on the user&#39;s device, the Company shall not bear
          any responsibility for the inability to use the Service due to
          incidents such as hacKing or loss of the device caused by the
          user&#39;s fault.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='6.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          If any property or non-property damage occurs to the Company or third
          parties due to the user’s violation of obligations under this article,
          the Company shall be exempt from liability for such damage and may
          taKe any legal action against the user, including civil claims for
          damages, criminal complaints, or reporting to administrative
          authorities.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 15 (Notices to Users)
    </h2>
    <ol id='l18'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          When the Company provides individual notices to users, it may do so
          through the following methods:
        </p>
        <p
          style='
            padding-left: 5pt;
            text-indent: 15pt;
            line-height: 118%;
            text-align: left;
          '
        >
          - Email, app notifications, webpage postings, push messages, text
          message transmissions, etc.
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          For notices to an unspecified number of users, the Company may
          substitute individual notices by posting them within the Service.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 16 (Processing of User PersonaL Information)
    </h2>
    <p
      style='
        padding-top: 4pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 119%;
        text-align: justify;
      '
    >
      The Company strives to protect user personal information, including user
      registration information, in accordance with relevant laws. The protection
      of user personal information is governed by the related laws and the
      Company&#39;s &quot;Privacy Policy.&quot; Specifically, the Company shall
      provide user personal information to third parties within the scope
      consented to by the user, if prior consent has been obtained in accordance
      with relevant laws, and shall detail the procedures and methods in its
      &quot;Privacy Policy.&quot;
    </p>
    <p
      style='
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 119%;
        text-align: justify;
      '
    >
      The &quot;Privacy Policy&quot; posted and disclosed by the Company on the
      service homepage constitutes part of these terms, and users agree to it.
    </p>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      Chapter 5 Termination of Contract and Usage Restrictions
    </h2>
    <p style='padding-top: 9pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 17 (Termination of Contract and Usage Restrictions)
    </h2>
    <ol id='l19'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Users may terminate the service contract by notifying the Company of
          their intent to do so at any time. However, prior to notifying the
          Company, users must complete or withdraw any ongoing transactions
          (such as points) related to the Service. Users bear any disadvantages
          that may arise from withdrawing or canceling transactions.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          Users shall be responsible for any disadvantages arising from their
          withdrawal from the Service, and upon termination of the service
          contract, the Company may revoKe various benefits previously granted
          to the user.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          To prevent illegal and improper acts by users who repeatedly terminate
          and reapply for the Service to gain economic benefits such as discount
          coupons and event benefits, or use another person&#39;s name without
          permission, the Company will retain the user&#39;s personal
          information—such as their name, linKed information received from
          identity verification agencies, date of withdrawal, and reason for
          withdrawal—for a period of 3 months following the user&#39;s
          termination.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          If a user fails to comply with their obligations as specified in
          Article 14, the Company may terminate the service contract or suspend
          the provision of the Service immediately without prior notice.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='5.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          For users who have not utilized the Service during the period after
          signing up, the Company may inquire whether they intend to continue
          using the Service. If the user does not respond within the deadline
          set by the Company, the Company may taKe actions in accordance with
          relevant laws.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='6.'>
        <p style='padding-left: 19pt; text-indent: -14pt; text-align: justify'>
          Users may file an objection to the actions taKen by the Company under
          paragraphs 4 and
        </p>
        <p
          style='
            padding-top: 2pt;
            padding-left: 5pt;
            text-indent: 0pt;
            text-align: justify;
          '
        >
          5 of this article in accordance with the procedures established by the
          Company.
        </p>
      </li>
      <li data-list-text='7.'>
        <p
          style='
            padding-top: 3pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          If the Company recognizes that the objection mentioned in the previous
          paragraph is justified, the Company shall immediately resume the
          user’s access to the Service.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 18 (Prohibition of Transfer)
    </h2>
    <p
      style='
        padding-top: 4pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 118%;
        text-align: left;
      '
    >
      Users may not transfer or gift their rights to use the Service or any
      contractual position to others, nor may they offer such rights as
      collateral.
    </p>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      Chapter 6 Damages and MisceLLaneous Provisions
    </h2>
    <p style='padding-top: 8pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 19 (Damages)
    </h2>
    <ol id='l20'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          Users who cause damages to the Company by violating the provisions of
          these terms must compensate the Company for all damages incurred.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          If a user engages in illegal acts or violates these terms while using
          the Service, and the Company receives claims for damages or lawsuits
          from third parties due to such acts, the user shall indemnify the
          Company at their own responsibility and expense. If the Company is not
          indemnified, the user must compensate the Company for all damages
          incurred.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          This provision remains in effect even after the user voluntarily
          terminates the service contract or after the Company suspends the
          Service based on these terms.
        </p>
      </li>
    </ol>
    <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 20 (DiscLaimer)
    </h2>
    <ol id='l21'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 19pt;
            text-indent: -13pt;
            text-align: justify;
          '
        >
          The Company shall not be liable for damages arising from the following
          circumstances:
        </p>
        <ol id='l22'>
          <li data-list-text='1)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 119%;
                text-align: justify;
              '
            >
              Inability to provide the Service due to natural disasters,
              striKes, changes in relevant laws, orders or instructions from
              relevant authorities, or events beyond the Company’s control.
            </p>
          </li>
          <li data-list-text='2)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              Negligence in managing the user’s mobile phone number, device,
              password, secret phrase, or private Key.
            </p>
          </li>
          <li data-list-text='3)'>
            <p
              style='
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              Inability to smoothly provide the Service due to inaccuracies in
              the information, data, or facts provided by the user for this
              Service.
            </p>
          </li>
          <li data-list-text='4)'>
            <p
              style='
                padding-left: 34pt;
                text-indent: -13pt;
                text-align: justify;
              '
            >
              Inability to use the Service due to disruptions outside the
              Company’s control.
            </p>
          </li>
          <li data-list-text='5)'>
            <p
              style='
                padding-top: 2pt;
                padding-left: 5pt;
                text-indent: 15pt;
                line-height: 118%;
                text-align: justify;
              '
            >
              Other cases of disruption caused by affiliates without the
              Company’s fault or failures in communication due to user
              negligence.
            </p>
            <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
              <br />
            </p>
          </li>
        </ol>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company shall not intervene in disputes between users or between
          users and third parties related to the Service, and shall not be
          liable for damages arising from such disputes unless due to the
          Company’s fault.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company is not responsible for verifying the accuracy,
          authenticity, or validity of the information provided by users and
          shall not be liable for damages arising from errors in the information
          provided by users.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='4.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 119%;
            text-align: justify;
          '
        >
          The Company is not responsible for any expected benefits or damages
          arising from materials obtained through the Service and shall not be
          liable for the reliability or accuracy
        </p>
        <p
          style='
            padding-top: 3pt;
            padding-left: 5pt;
            text-indent: 0pt;
            text-align: left;
          '
        >
          of the information, data, or facts published by the user in the
          Service.
        </p>
        <p style='padding-top: 5pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='5.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          If the Company is not the issuer of the access media such as devices,
          apps, passwords, or programs, it shall not be liable for damages to
          the user caused by forgery or alteration of the access media.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='6.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The Company shall not be liable for damages incurred by users who
          downloaded or installed the app through unofficial channels rather
          than through official means.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='7.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          If damages occur due to the user’s negligence in fulfilling the
          obligations specified in Article 14, the Company shall not be liable
          unless there are other causes for liability.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='8.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          If the app provided by the Company is unavailable due to issues with
          the user’s device environment, the Company shall not bear any
          responsibility for that.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='9.'>
        <p style='padding-left: 19pt; text-indent: -13pt; text-align: justify'>
          The Company is not liable for service interruptions caused by the
          user’s fault.
        </p>
      </li>
    </ol>
    <p style='padding-top: 5pt; text-indent: 0pt; text-align: left'><br /></p>
    <h2 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      ArticLe 21 (Dispute ResoLution and Jurisdiction)
    </h2>
    <ol id='l23'>
      <li data-list-text='1.'>
        <p
          style='
            padding-top: 4pt;
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          In the event of a dispute arising between the Company and the user
          regarding the use of the Service, both parties shall sincerely
          negotiate to resolve the dispute.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='2.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          The jurisdiction for all disputes and lawsuits related to these terms
          shall be the court with jurisdiction over the Company’s headquarters
          as specified in the Civil Procedure Act.
        </p>
        <p style='padding-top: 2pt; text-indent: 0pt; text-align: left'>
          <br />
        </p>
      </li>
      <li data-list-text='3.'>
        <p
          style='
            padding-left: 5pt;
            text-indent: 0pt;
            line-height: 118%;
            text-align: justify;
          '
        >
          In the case of a dispute related to the Service, it is the principle
          to resolve it through mutual agreement between the parties. However,
          if the parties cannot reach an agreement, the dispute shall be
          resolved in the court with jurisdiction over the Company’s
          headquarters.
        </p>
      </li>
    </ol>
    <p style='padding-top: 3pt; text-indent: 0pt; text-align: left'><br /></p>
    <h3 style='padding-left: 5pt; text-indent: 0pt; text-align: left'>
      [SuppLementary Provisions]
    </h3>
    <h3
      style='
        padding-top: 3pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      '
    >
      (Effective Date) These terms shaLL taKe effect from November 29, 2024.
    </h3>
  </body>
</html>